.password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.password-form-card {
  width: 392px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-btn-card {
  width: 383px;
  padding: 0;
  overflow: hidden;
}

.password-btn-card .btn-primary {
  height: 37px;
  border-radius: 4px;
  margin-top: 0;
}
